<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Imie</label>
      <input type="text" class="form-control" id="inputFirstName">
    </div>
    <div class="form-group col-md-6">
      <label>Nazwisko</label>
      <input type="text" class="form-control" id="inputLastname">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
    <div class="form-group col-md-6">
      <label>Numer Telefonu</label>
      <input type="text" class="form-control" id="inputPhoneNumber">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Adres</label>
      <input type="text" class="form-control" id="inputStreet">
    </div>
    <div class="form-group col-md-4">
      <label>Numer Domu</label>
      <input type="text" class="form-control" id="inputHouseNumber">
    </div>
    <div class="form-group col-md-4">
      <label>Miasto</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
  </div>
  <button type="button" class="btn btn-primary">Dodaj kontakt</button>
</form>
