<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakty</title>
</head>
<body>
    <h1>Twoje kontakty</h1>
    <div th:if="${!people.isEmpty()}">
        <div id="search">
            <form action="#" th:action="@{/search}">
                <p>
                    Wpisz nazwisko: <input type="text" name="lastname">
                    <input type="submit" value="Wyszukaj">
                </p>
            </form>
        </div>
        <table>
            <tr>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Numer telefonu</th>
                <th>Miasto</th>
            </tr>
            <tr th:each="person:${people}">
                <td th:text="${person.getFirstname()}">Brak</td>
                <td th:text="${person.getLastname()}">Brak</td>
                <td th:text="${person.mobileNumber}">Brak</td>
                <td th:text="${person.city}">Brak</td>
                <td><a th:href="@{/person/{id}(id = ${person.id})}">Zobacz szczegoly</a> </td>
            </tr>
        </table>
    </div>
    <div th:if="${people.isEmpty()}">
        <h2>Nie masz jeszcze kontaktow</h2>
    </div>
    <div>
        <a th:href="@{/home}">Powrot do menu</a>
    </div>
</body>
</html>