<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
</head>
<body>
    <h1>Kontakt</h1>
    <div th:if="${person.id}">
        <table border="1">
            <tr>
                <td>Imie:</td>
                <td th:text="${person.firstname}">Brak</td>

            </tr>
            <tr>
                <td>Nazwisko:</td>
                <td th:text="${person.lastname}">Brak</td>

            </tr>
            <tr>
                <td>Numer Telefonu:</td>
                <td th:text="${person.mobileNumber}">Brak</td>

            </tr>
            <tr>
                <td>Email:</td>
                <td th:text="${person.email}">Brak</td>

            </tr>
            <tr>
                <td>Ulica:</td>
                <td th:text="${person.street}">Brak</td>

            </tr>
            <tr>
                <td>Numer domu:</td>
                <td th:text="${person.houseNumber}">Brak</td>

            </tr>
            <tr>
                <td>Miejscowosc:</td>
                <td th:text="${person.city}">Brak</td>

            </tr>
        </table>
    </div>
    <div id="personOperations">
        <form action="#" th:action="@{/person-delete/{id}(id = ${person.id})}" method="post">
            <input type="submit" value="Usun">
        </form>
        <form action="#" th:action="@{/person-update/{id}(id = ${person.id})}" method="get">
            <input type="submit" value="Edytuj">
        </form>
    </div>
</body>
</html>