<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edytuj</title>
</head>
<body>
    <h1>Edytuj dane</h1>
    <h1>Dodaj kontakt</h1>
    <form action="#" th:action="@{/person-update}" method="post">
        <p hidden = "true"><input type="number" th:field="${person.id}"> </p>
        <p>Imie: <input type="text" th:field="${person.firstname}"></p>
        <p>Nazwisko: <input type="text" th:field="${person.lastname}"></p>
        <p th:errors="${person.mobileNumber}">Number errors</p>
        <p>Numer Telefonu: <input type="text" th:field="${person.mobileNumber}"></p>
        <p th:errors="${person.email}">Email errors</p>
        <p>Email: <input type="text" th:field="${person.email}"></p>
        <p>Ulica: <input type="text" th:field="${person.street}"></p>
        <p>Nr domu: <input type="text" th:field="${person.houseNumber}"></p>
        <p>Miejscowosc: <input type="text" th:field="${person.city}"></p>
        <input type="submit" value="Edytuj">
    </form>
</body>
</html>